{
  "extends": "eslint-config-google",
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "new-cap": "off",
    "require-jsdoc": "off",
    "object-curly-spacing": "off",
    "max-len": "off",
    "no-invalid-this": "off",
    "no-unused-vars": "off",
    "brace-style": "off",
    "block-spacing": "off",
    "comma-dangle": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  }
}