@font-face {
    font-family: 'Montserrat-Bold';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Montserrat-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Bold';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Spoqa+Han+Sans+Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Regular';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Spoqa+Han+Sans+Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Light';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/Spoqa+Han+Sans+Light.ttf) format('truetype');
}

#root {
    height: 100%;
    width: 100%;
}

#root > div {
    height: 100%;
    /*background-image: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/img/background.png);*/
    background-color: #f4f4f4;
}

.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1320px) {
    .container {
        max-width: 1300px;
    }
}
