@font-face {
    font-family: 'GOTHAN-ULTRAITALIC';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/gotham-ultraitalic-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'GOTHAN-XLIGHT';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/gotham-xlight-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'GOTHAN-ULTRA';
    src: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/font/gotham-ultra-webfont.woff) format('truetype');
}

/*html, body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

#root {
    height: 100%;
    width: 100%;
}

#root > div {
    height: 100%;
    background-image: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/img/background.png);
}

.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
