<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Login</title>

    <meta name="google-signin-client_id" content="351412840107-snlb406p1o1ud17vld4enunetm4g3fmu.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<h1>Google Login</h1>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

<div>
    <a href="#" onclick="signOut();">Sign out</a>
</div>

<script src="/static/javascript/login.js"></script>
</body>
</html>