.report-container {
    margin: auto;
}

.report-inner-container {
    box-shadow: 10px 10px 10px 10px lightgray;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;

    padding: 2vh;
    margin: 5vh auto 5vh auto;
}


/*!*페이지 종이 질감 그림자 생성*!*/
.page {
    background: #ffffff;
}

.page h2 {
    text-align: center;
    padding: 0 0 0 10px;
    font: 400 4vh 'Lilita One', Helvetica, sans-serif;
}

.page p {
    padding: 10px 20px;
    font: 2vh Helvetica, sans-serif;
    color: #f0f2f5;
}

/*.foldtl {*/
/*    position: relative;*/
/*    -webkit-box-shadow: 10px 10px 5px rgba(100,100,100,0.8);*/
/*    -moz-box-shadow: 10px 10px 5px rgba(100,100,100,0.8);*/
/*    box-shadow: 10px 10px 5px rgba(100,100,100,0.8);*/
/*}*/
/*.foldtl:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    left: 0%;*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    border-bottom: 10vh solid #eee;*/
/*    border-left: 10vh solid transparent;*/
/*    -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);*/
/*    -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);*/
/*    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);*/
/*}*/
/*.foldtl:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    left: 0%;*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    border-top: 10vh solid ;*/
/*    border-right: 10vh solid transparent;*/
/*}*/

/*card*/
div.card-body {
    height: 14vh;
    padding: 2vh;
}

div.card-title {
    font-size: 2vh;
    padding: 0;
    margin: 1vh;
    text-decoration: underline;
}

p.card-text {
    font-size: 3vh;
    color: black;
    padding: 0;
    margin: 1vh;
    font-weight: unset;
}

.subs-inner-item {
    font-size: 2vh;
}

.report-logoImg{
    width: 8vh;
}
.report-padding{
    padding: 3vh;
    border-bottom: 1px solid #d8d8d8;
}
.report-subtitle{
    font-family: 'Spoqa Han Sans Bold';
    font-size: 4vh;
    color: #000000;
    text-align: left;
    padding-bottom: 1vh;
}
.report-inner-subsList{
    font-family: 'Montserrat-Regular';
    border: 1px solid #d8d8d8;
    padding: 1.5vh;
    color: #000;
    letter-spacing: -1px;
}

.report-title{
    color: black;
    font-size: 5vh;
    font-family: 'Spoqa Han Sans Bold';
}

.report-subs-title{
    font-family: 'Spoqa Han Sans Bold';
}

.report-month-text{
    font-size: 5vh;
}
.montlyReport-subs-text{
    color: black;
    font-family: 'Montserrat-Regular';
    padding: 3vh;
}
