/* 공통 */
.subs-inner-left-container, .subs-inner-right-container {
  box-shadow: 10px 10px 10px 10px lightgray;
  border-radius: 5px;
}

.subs-inner-left-container, .subs-inner-center-container, .subs-inner-right-container {
  height: 100%;
  overflow-x: auto;
}

#subs-inner-left-element, #subs-inner-right-element {
  border-radius: 5px;
  width: 100%;
}

/* 개별 */

.subs-container {
  height: 70vh;
  padding: 100px;
}

.subs-inner-left-container {
  width: 45%;
}

.subs-inner-center-container {
  width: 10%;
}

.subs-inner-right-container {
  width: 45%;
}

#subs-inner-left-element {

}

#subs-inner-right-element {

}