# ide
.idea/
.vscode/

# client
client/node_modules/
client/package-lock.json

# server
server/node_modules/
server/package-lock.json

# api
api/node_modules/
api/package-lock.json
api/env/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Envfile
.env
credentials.json
token.json

# google-api
google-api/client_secret.json
