/* container */
#inner-container {
  box-shadow: 10px 10px 10px 10px lightgray;
  height: 60vh;
  overflow: auto;
  width: 100%;
  font-weight: lighter;
  font-size: 1vw;
}

#inner-container-title {
  font-size: 2vw;
  font-weight: lighter;
  padding-left: 20px;
}

#subs-inner-left-element, #subs-inner-right-element {
  border-radius: 5px;
  width: 100%;
}

/* element */
#inner-element {
  margin-bottom: 12px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px 3px lightgray;
  text-align: center;
  border-radius: 3%;
}

#inner-element button {
  background-color: whitesmoke;
  border: none;
}

.submit-container {
  margin-top: 5vh;
  text-align: center;
}

.submit-container input {
  border: none;
  background-color: transparent;
}

/*SubApp.css*/
#inner-element>div .col:nth-child(odd) {
  margin: auto;
}

.col {
  margin: auto;
  height: auto;
}

.logo-img {
  height: 5vh;
  border-radius: 5px;
}
