.calendar {
    box-shadow: 10px 10px 10px 10px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 80%;
}

.categories{
    box-shadow: 10px 10px 10px 10px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 70%;
}

.TotalAmount {
    box-shadow: 10px 10px 10px 10px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 30%;
}

.list {
    box-shadow: 10px 10px 10px 10px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 20%;
}
