.vert {
    height: 50px;
    width: 0px;
    border-right: 0px;
    border-left: 1px solid black;
    margin: 0;
}

.line-Img {
    display: block;
    width: 50%;
    margin: auto;
}

.col-2 {
    border: 1px solid black;
}
