/* dashboard */
.calendar {
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 75%;
}

.categories{
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 65%;
}

.TotalAmount {
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    height: 25%;
}

/* Calendar */
.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}

.ant-fullcalendar td {
    height: 70px;
}

/* Calendar */
.calendar-subscriptions-img {
    width: 50%;
    border-radius: 0.5vh;
}

.calendar-subscriptions-img.front {
    position: relative;
    z-index: 2;
}

.calendar-subscriptions-img.back {
    position: relative;
    z-index: 1;
    left: -5px;
    border: 1px lightgray solid;
}

/* Categories */
.categories-inner-item-image{
    height: 5vh;
    border-radius: 5px;
    padding-left: 0px;
}

/* List */
.list {
    box-shadow: 5px 5px 5px 5px lightgray;
    font-weight: lighter;
    font-size: 1vw;
    padding: 20px;
    width: auto;
}

.list-container {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.list-img-border {
    margin-right: 0.7vw;
    border-radius: 5px;
    background: white;
    display: inline-block;
}