/* dashboard */
.dashboard-inner {
    padding: 2vh 2vh 2vh 2vh;
}

.calendar {
    box-shadow: 1vh 1vh 1vh 1vh lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 2vh;
}

.list {
    box-shadow: 1vh 1vh 1vh 1vh lightgray;
    font-weight: lighter;
    font-size: 1vw;
    padding: 2vh;
    width: auto;
}

.categories{
    box-shadow: 1vh 1vh 1vh 1vh lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 2vh;
    height: 54.5%;
}

.TotalAmount {
    box-shadow: 1vh 1vh 1vh 1vh lightgray;
    overflow: auto;
    width: 100%;
    font-weight: lighter;
    font-size: 1vw;
    padding: 2vh;
}

/* Calendar */
.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 4vh;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}

.ant-fullcalendar td {
    height: 7vh;
}

.ant-fullcalendar-header .ant-radio-group{
    display: none;
}

.ant-fullcalendar-value {
    font-size: 1vh;
}

/* Calendar, Date */
.calendar-subscriptions-img {
    width: 50%;
    border-radius: 0.5vh;
    border: 1px lightgray solid;
}

.calendar-subscriptions-img.front {
    position: relative;
    z-index: 2;
}

.calendar-subscriptions-img.back {
    position: relative;
    z-index: 1;
    left: -5px;
    border: 1px lightgray solid;
}

/* Categories */
.categories-inner-item-image{
    height: 5vh;
    border-radius: 5px;
    padding-left: 0px;
}

.ant-page-header {
    padding: 0;
}

/* List */
.list-title {
    display: inline-block;
}

.list-container {
    height: 80%;
}

.list-inner-container {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    padding-top: 1vh;
}

.list-img-border {
    margin-right: 1vw;
    border-radius: 5px;
    background: white;
    display: inline-block;
    text-align: center;
}

.list-img-border-title {
    text-align: 0.5rem;
}

.list-logo-img {
    height: 5vh;
    border-radius: 5px;
}

/* TotalAmount */
.total-amount-text {
    font-size: 2rem;
}
