.carousel-inner {
    top: 0;
    min-width: 100%;
}

.carousel {
    margin-bottom: 3rem;
}

.d-block {
    margin: auto;
}

.marketing > .row {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding:  15px 15px 15px 15px
}
