/*home*/
.homwWrap {
    text-align: center;
}

.featurette-heading {
    font-family: 'Spoqa Han Sans Bold';
    font-size: 4vh;
    color: #00A2FF;
}

/*index*/
.index-wrap > .index-item {
    padding: 1vh
}
.index-item-inner{
    border-radius: 2vh;
    background-color: #ffffff;
    padding: 9vh 0vh 9vh 0vh;
}

.index-item > .index-item-inner > img {
    height: 20vh;
    border-radius: 5px;
}

/* carousel */
.carousel-inner {
    top: 0;
    min-width: 50%;
}

.carousel {
    margin-bottom: 3vh;
}

.d-block {
    margin: auto;
}

.marketing > .row {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

/*카로셀 최대 크기 지정*/
.carousel-inner {
    width: 5vh;
    /*height: 50%;*/
    margin: 0 auto;
    text-align: center;
}

/*이미지들 카로셀 최대 크기로 지정*/
.carousel-inner > .carousel-item {
    /*height: 50%;*/
    /*margin: 0 auto;*/
    padding: 3vh;
    text-align: center;
}


.IndexPage-serviceValue{
    font-family: 'Spoqa Han Sans Regular';
    color: black;
    font-size: 3vh;
    padding: 3vh 0 3vh 0 ;
}

.IndexPage-md-sub{
    font-family: 'Spoqa Han Sans bold';
    color: #00A2FF;
    font-size: 5vh;
}

.IndexPage-inner {
    height: 65vh;
}

.IndexPage-margin{
    margin: auto;
}

.indexInfo-title{
    font-family: 'Spoqa Han Sans Bold';
    color: #00A2FF;
    font-size: 3.5vh;
    padding: 3vh;
}
.indexInfo-text{
    font-family: 'Spoqa Han Sans Regular';
    color: black;
    font-size: 2.3vh;
}
.btn-margin-10{
    border-radius: 100px;
}
.nav-link{
    text-align: center;
}
.IndexPage-img{
    width: 100%;
}
.marketing{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.startBtn-padding{
    padding: 5vh;
}
