.info {
    text-align: left;
    box-shadow: 0vh 0vh 10px 10px #f3f3f3;
    background: #ffffff;
    border-radius: 2vh;
    overflow: auto;
    width: 100%;

    font-size: 1vw;
    padding: 2vh;
}

.googleBtn{
    background-color: #ffffff;
    border: 0px;
}

.googleImg{
    width: 25vh;
}
