html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  width: 100%;
}

#root>div {
  height: 100%;
}

#root .ant-row {
  height: 100%;
}

.ant-row .ant-col {
  height: 100%;
}

.ant-col-12 {
  background-color: burlywood;
}
