.navbar-menu > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-menu li {
  float: left;
}

.navbar-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;  
  text-decoration: none;
}

.navbar-menu li a:hover {
  background-color: #111;
}
