footer {
    text-align: center;
    background: #f0f2f5;
    color: white;
    margin-top: auto;
    flex-shrink: 0;
    bottom: 0px;
}

footer a {
    color: #bfffff;
}

footer a:hover {
    color: white;
}

.footer-bottom {
    background: #000000;
    padding: 2em;
}

.footer-top {
    /*background: #343a40;*/
    background: #000000;
}

.footer-middle {
    background: #000000;
    padding-top: 2em;
    color: white;
}

/**Sub Navigation**/
.subnavigation-container {
    background: #000000;
    /*background: #343a40;*/
}

.subnavigation .nav-link {
    color: white;
    font-weight: bold;
}

.subnavigation-container {
    text-align: center;
}

.subnavigation-container .navbar {
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}

.col-subnav a {
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}

.col-subnav .active {
    border-top: 5px solid orange;
    background: white;
    color: black;
}

.footer-pad {
    font-size: 14px;
    padding: 0;
}

.container > .row > .col-xs-12 {
    margin: auto;
}

