header {
    /*background: #f0f2f5;*/
    background-image: url(https://moneydog.s3.ap-northeast-2.amazonaws.com/resource/img/background.png);
}

.logout {
    color: #000;
}

.headerFont {
    color: #000;
    font-size: 7vh;
    font-weight: bold;
    padding: 2vh 0 2vh 0;
}
.nav-link{
    text-align: left;
    font-family: 'Montserrat-Regular';
    color: #000;
}

.active {
    color: #00BBF8;
}

.subHeaderFont {
    color: #000;
    font-size: 3vh;
    padding: 0;
}

.headerBold{
    font-weight: bold;
}

.categoryFont{
    margin: auto 0 auto 0;
    padding: 0;
}

.categoryFont > ul{
    float: right;
}

.categoryFont > ul > li > a {
    font-size: 2.5vh;
    font-family: 'Spoqa Han Sans Bold';
}

.nav-user {
    text-decoration: underline;
    font-family: 'Spoqa Han Sans Light';
}

.headerContainer{
    padding: 2vh;
}

.headeImg{
    width: 80%;
}
